Repository pagopa/pagopa-debt-position, pull requests merged in 2023-06, with the labels that each got.

#153 [PAGOPA-981] Notification fee sum on debt position amount during update
  gpd/pom.xml
  gpd/src/main/java/it/gov/pagopa/debtposition/exception/AppError.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/payments/PaymentsService.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/pd/crud/PaymentPositionCRUDService.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/DebtPositionControllerTest.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/PaymentsControllerTest.java
  report/pom.xml
Labels: bug, gpd

#155 feat: Add helm values and health endpoints [PAGOPA-1038]
  .gitignore
  gpd/pom.xml
  gpd/src/main/resources/application-h2.properties
  gpd/src/main/resources/application-local.properties
  gpd/src/main/resources/application.properties
  gpd/src/test/resources/application.properties
  helm/.helmignore
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
  report/pom.xml
Labels: gpd

#157 Pagopa 904 int test aggiungere to publish in fase di update
  gpd/integration-test/src/step_definitions/support/steps.js
Labels: ignore-for-release

#159 feat: Add and update GHA [PAGOPA-1039]
  .github/release.yml
  .github/workflows/anchore.yml
  .github/workflows/check_pr.yml
  .github/workflows/deploy_with_github_runner.yml
  .github/workflows/integration_test.yml
  .github/workflows/release_deploy.yml
  .github/workflows/update_code.yml
Labels: gpd, ignore-for-release, size/large
