Repository pagopa/pagopa-debt-position, pull requests merged in 2023-04, with the labels that each got.

#141 [PAGOPA-812] Stamp
  gpd/flyway.conf
  gpd/pom.xml
  gpd/src/main/java/it/gov/pagopa/debtposition/DebtPositionApplication.java
  gpd/src/main/java/it/gov/pagopa/debtposition/entity/Transfer.java
  gpd/src/main/java/it/gov/pagopa/debtposition/mapper/ConvertPOEntityToPOWithDebtor.java
  gpd/src/main/java/it/gov/pagopa/debtposition/mapper/ConvertPPModelToPPEntityForUpdate.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/payments/response/TransferModelResponse.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/PaymentOptionModel.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/PaymentPositionModel.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/Stamp.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/TransferModel.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/response/TransferModelResponse.java
  gpd/src/main/java/it/gov/pagopa/debtposition/scheduler/Scheduler.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/payments/PaymentsService.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/pd/crud/PaymentPositionCRUDService.java
  gpd/src/main/java/it/gov/pagopa/debtposition/util/CommonUtil.java
  gpd/src/main/java/it/gov/pagopa/debtposition/util/DebtPositionValidation.java
  gpd/src/main/resources/application-h2.properties
  gpd/src/main/resources/application-local.properties
  gpd/src/main/resources/db/migration/V006__ALTER_TRANSFER.sql
  gpd/src/test/java/it/gov/pagopa/debtposition/TestUtil.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/PaymentsControllerTest.java
  gpd/src/test/java/it/gov/pagopa/debtposition/mock/DebtPositionMock.java
  gpd/src/test/java/it/gov/pagopa/debtposition/scheduler/SchedulerTest.java
  payments/load-test/src/result.html
Labels: enhancement, gpd

#142 chore: Update code owners
  CODEOWNERS
Labels: ignore-for-release

#140 [PAGOPA-772] Testing integration test for reporting services
  .devops/deploy-pipelines.yml
  .devops/integration-test-pipelines.yml
  integration-test/README.MD
  integration-test/run_integration_test.sh
  integration-test/src/README.md
  integration-test/src/config/.env.dev
  integration-test/src/config/.env.local
  integration-test/src/config/.env.uat
  integration-test/src/features/01_reporting_batch.feature
  integration-test/src/features/02_reporting_service.feature
  integration-test/src/features/03_reporting_full.feature
  integration-test/src/package-lock.json
  integration-test/src/package.json
  integration-test/src/step_definitions/support/clients/api_config_client.js
  integration-test/src/step_definitions/support/clients/gpd_client.js
  integration-test/src/step_definitions/support/clients/nodo_client.js
  integration-test/src/step_definitions/support/clients/payments_client.js
  integration-test/src/step_definitions/support/clients/reporting_client.js
  integration-test/src/step_definitions/support/logic/common_logic.js
  integration-test/src/step_definitions/support/logic/gpd_logic.js
  integration-test/src/step_definitions/support/logic/health_checks_logic.js
  integration-test/src/step_definitions/support/logic/reporting_logic.js
  integration-test/src/step_definitions/support/steps.js
  integration-test/src/step_definitions/support/utility/axios_common.js
  integration-test/src/step_definitions/support/utility/constants.js
  integration-test/src/step_definitions/support/utility/data.js
  integration-test/src/step_definitions/support/utility/helpers.js
  integration-test/src/step_definitions/support/utility/random_generator.js
  integration-test/src/step_definitions/support/utility/request_builders.js
  integration-test/src/yarn.lock
  report/pom.xml
  reporting-analysis/pom.xml
  reporting-analysis/src/main/java/it/gov/pagopa/reporting/GetFlow.java
  reporting-analysis/src/test/java/it/gov/pagopa/reporting/service/FlowServiceIntegrationTest.java
  reporting-batch/pom.xml
  reporting-batch/src/main/java/it/gov/pagopa/reporting/RetrieveFlows.java
  reporting-batch/src/main/java/it/gov/pagopa/reporting/service/FlowsService.java
  reporting-batch/src/main/java/it/gov/pagopa/reporting/service/NodoChiediElencoFlussi.java
  reporting-batch/src/main/resources/wsdl/NodoPerPa.wsdl.TEMPLATE
  reporting-batch/src/test/java/it/gov/pagopa/reporting/NodoChiediElencoFlussiTest.java
  reporting-batch/src/test/java/it/gov/pagopa/reporting/RetrieveFlowsTest.java
  reporting-batch/upd_wsdl_location.sh
  reporting-service/pom.xml
  reporting-service/src/main/java/it/gov/pagopa/reporting/service/FlowsService.java
  reporting-service/src/test/java/it/gov/pagopa/reporting/service/FlowServiceIntegrationTest.java
  reporting-service/src/test/java/it/gov/pagopa/reporting/service/NodeServiceTest.java
  reporting-service/upd_wsdl_location.sh
Labels: enhancement, reporting-analysis, reporting-batch, reporting-service
