Repository pagopa/pagopa-debt-position, pull requests merged in 2023-03, with the labels that each got.

#122 [PAGOPA-751] Payment date on Debt Position
  .devops/deploy-pipelines.yml
  gpd/doc/db/re.puml
  gpd/pom.xml
  gpd/src/main/java/it/gov/pagopa/debtposition/entity/PaymentPosition.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/payments/PaymentsService.java
  gpd/src/main/resources/db/migration/V005__ALTER_PAYMENTDATE.sql
  report/pom.xml
Labels: enhancement, gpd

#123 fix: removed Maven cache tasks from DB migration
  .devops/deploy-pipelines.yml
Labels: gpd, ignore-for-release

#121 feat gpd: adding creation + publication PAGOPA-639
  gpd/src/main/java/it/gov/pagopa/debtposition/controller/pd/crud/api/IDebtPositionController.java
  gpd/src/main/java/it/gov/pagopa/debtposition/controller/pd/crud/api/impl/DebtPositionController.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/pd/actions/PaymentPositionActionsService.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/pd/crud/PaymentPositionCRUDService.java
  gpd/src/main/java/it/gov/pagopa/debtposition/util/PublishPaymentUtil.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/DebtPositionActionsControllerTest.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/DebtPositionControllerTest.java
  gpd/src/test/java/it/gov/pagopa/debtposition/mock/DebtPositionMock.java
  report/pom.xml
Labels: enhancement, gpd

#126 PAGOPA-737 gpd integration tests
  gpd/integration-test/README.MD
  gpd/integration-test/run_integration_test.sh
  gpd/integration-test/src/README.md
  gpd/integration-test/src/config/.env.dev
  gpd/integration-test/src/config/.env.local
  gpd/integration-test/src/config/.env.uat
  gpd/integration-test/src/features/debt-position-manage.feature
  gpd/integration-test/src/package.json
  gpd/integration-test/src/step_definitions/support/clients/gpd_client.js
  gpd/integration-test/src/step_definitions/support/logic/common_logic.js
  gpd/integration-test/src/step_definitions/support/logic/gpd_logic.js
  gpd/integration-test/src/step_definitions/support/logic/health_checks_logic.js
  gpd/integration-test/src/step_definitions/support/steps.js
  gpd/integration-test/src/step_definitions/support/utility/axios_common.js
  gpd/integration-test/src/step_definitions/support/utility/data.js
  gpd/integration-test/src/step_definitions/support/utility/helpers.js
  gpd/integration-test/src/step_definitions/support/utility/request_builders.js
Labels: enhancement, gpd

#124 feat: Filter update for debt position list PAGOPA-734
  gpd/src/main/java/it/gov/pagopa/debtposition/config/ExclusiveParamAspect.java
  gpd/src/main/java/it/gov/pagopa/debtposition/config/ExclusiveParamGroup.java
  gpd/src/main/java/it/gov/pagopa/debtposition/controller/pd/crud/api/IDebtPositionController.java
  gpd/src/main/java/it/gov/pagopa/debtposition/controller/pd/crud/api/impl/DebtPositionController.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/enumeration/DebtPositionStatus.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/filterandorder/Filter.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/PaymentPositionModel.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/response/PaymentPositionModelBaseResponse.java
  gpd/src/main/java/it/gov/pagopa/debtposition/repository/specification/PaymentPositionByDueDate.java
  gpd/src/main/java/it/gov/pagopa/debtposition/repository/specification/PaymentPositionByPaymentDate.java
  gpd/src/main/java/it/gov/pagopa/debtposition/repository/specification/PaymentPositionByStatus.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/payments/PaymentsService.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/pd/crud/PaymentPositionCRUDService.java
  gpd/src/main/java/it/gov/pagopa/debtposition/validation/DebtPositionValidation.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/DebtPositionControllerTest.java
  gpd/src/test/java/it/gov/pagopa/debtposition/dto/PaymentPositionDTO.java
Labels: enhancement, gpd

#130 chore: update openapi
  gpd/openapi/openapi.json
Labels: gpd, ignore-for-release

#128 Pagopa 737 new integration tests
  .devops/deploy-pipelines.yml
  gpd/integration-test/README.MD
  gpd/integration-test/run_integration_test.sh
  gpd/integration-test/src/README.md
  gpd/integration-test/src/config/.env.dev
  gpd/integration-test/src/config/.env.local
  gpd/integration-test/src/config/.env.uat
  gpd/integration-test/src/features/debt-position-create-and-publish.feature
  gpd/integration-test/src/features/debt-position-manage.feature
  gpd/integration-test/src/features/debt-position-pay.feature
  gpd/integration-test/src/package.json
  gpd/integration-test/src/step_definitions/support/clients/gpd_client.js
  gpd/integration-test/src/step_definitions/support/logic/common_logic.js
  gpd/integration-test/src/step_definitions/support/logic/gpd_logic.js
  gpd/integration-test/src/step_definitions/support/logic/health_checks_logic.js
  gpd/integration-test/src/step_definitions/support/steps.js
  gpd/integration-test/src/step_definitions/support/utility/axios_common.js
  gpd/integration-test/src/step_definitions/support/utility/data.js
  gpd/integration-test/src/step_definitions/support/utility/helpers.js
  gpd/integration-test/src/step_definitions/support/utility/request_builders.js
Labels: enhancement, gpd

#131 test: Add integration test PAGOPA-736
  gpd/.gitignore
  gpd/integration-test/src/features/debt-position-manage.feature
  gpd/integration-test/src/step_definitions/support/clients/gpd_client.js
  gpd/integration-test/src/step_definitions/support/logic/gpd_logic.js
  gpd/integration-test/src/step_definitions/support/steps.js
  gpd/integration-test/src/step_definitions/support/utility/helpers.js
Labels: gpd, ignore-for-release

#134 [PAGOPA-777] Opex Dashboard
  .github/workflows/create_dashboard.yaml
  .identity/.terraform.lock.hcl
  .identity/00_locals.tf
  .identity/00_main.tf
  .identity/00_variables.tf
  .identity/01_data.tf
  .identity/02_application_action.tf
  .identity/02_application_action_auth.tf
  .identity/03_github_environment.tf
  .identity/99_outputs.tf
  .identity/env/dev/backend.ini
  .identity/env/dev/backend.tfvars
  .identity/env/dev/terraform.tfvars
  .identity/env/prod/backend.ini
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
  .identity/env/uat/backend.ini
  .identity/env/uat/backend.tfvars
  .identity/env/uat/terraform.tfvars
  .identity/terraform.sh
  .opex/env/prod/backend.ini
  .opex/env/prod/backend.tfvars
  .opex/env/prod/config.yaml
  .opex/env/prod/terraform.tfvars
Labels: enhancement
