Repository pagopa/pagopa-debt-position, pull requests merged in 2023-05, with the labels that each got.

#146 [PAGOPA-975] fix: wrong handling of organization fiscal code in transfers
  gpd/integration-test/src/step_definitions/support/utility/request_builders.js
  gpd/openapi/openapi.json
  gpd/src/main/java/it/gov/pagopa/debtposition/mapper/ConvertPPModelToPPEntityForUpdate.java
  gpd/src/main/java/it/gov/pagopa/debtposition/model/pd/TransferModel.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/pd/crud/PaymentPositionCRUDService.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/DebtPositionControllerTest.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/PaymentsControllerTest.java
Labels: bug, gpd

#147 Fix pipeline integration
  .github/workflows/integration_test.yml
  integration-test/run_integration_test.sh
Labels: bug, gpd

#148 [PAGOPA-858] added publishing flag on update
  gpd/openapi/openapi.json
  gpd/src/main/java/it/gov/pagopa/debtposition/controller/pd/crud/api/IDebtPositionController.java
  gpd/src/main/java/it/gov/pagopa/debtposition/controller/pd/crud/api/impl/DebtPositionController.java
  gpd/src/main/java/it/gov/pagopa/debtposition/service/pd/crud/PaymentPositionCRUDService.java
  gpd/src/test/java/it/gov/pagopa/debtposition/controller/DebtPositionControllerTest.java
Labels: enhancement, gpd

#149 fix: updated OpenAPI generator
  gpd/openapi/generate_openapi.sh
  gpd/openapi/openapi.json
  gpd/openapi/openapi_external.json
  gpd/openapi/openapi_internal.json
  gpd/src/main/resources/application.properties
Labels: documentation, gpd, ignore-for-release
